*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




.heading{
  font-family: 'Roboto', sans-serif;
  font-size: 80px;
}
